*.suo
*.user

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Pp]ublish/
[Nn]ode_modules/
[Pp]ackages/
[Dd]ist/
[Bb]uild/
[Cc]lient_build/
[Ss]erver_build/
[Uu]nity_package/
[Ss]rc/unity/UdpToolkit.Unity/Assets/Plugins/

#Rider
.idea/
*.*.iml